<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Basic Quiz Application with login and logout options as well as computation of final scores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="\css\firstpage.css">
</head>
<body class="page_1_body">
	<main>
		<a href="/loginreg" class="page_1_a"><h1 class="page_1_h1">Login/Register</h1></a>
    	<a href="/topicpage_1" class="page_1_a"><h1 class="page_1_h1">Continue as a guest</h1></a>
	</main>
	<footer class="page_1_footer">
		<p><marquee>Designed and developed by Group number - 52 i.e. Archit Gupta 181B046, Aniket Shrivastava 181B033, Atishay Jain 181B059. Contact us at MasterMindsTheUltimateQuiz@gmail.com</marquee></p>
	</footer>
</body>
</html>