<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Basic Quiz Application with login and logout options as well as computation of final scores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="\css\topicpage_1.css">
	<script>
		function score(){
	    var count=0;
	    if (document.getElementById('correct_1').checked) {
	    	count=count+1;
	    }
	    if (document.getElementById('correct_2').checked) {
			count=count+1;
		}
		if (document.getElementById('correct_3').checked) {
			count=count+1;
		}
		alert("Score obtained = " + count + "\nRedirecting to the home screen");
		window.location.replace('/');
		}
	</script>
</head>
<body>
	<main>
		<form>
			<h2>Q1 Most demultiplexers facilitate which type of conversion ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="digital" value="Single input, multiple outputs" id="correct_1">Single input, multiple outputs <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital" value="AC to DC">AC to DC <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital" value="Odd parity to even parity">Odd parity to even parity <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital" value="Decimal-to-hexadecimal">Decimal-to-hexadecimal <span class="correct"></span></label><br/>	
			<h2>Q2 In a multiplexer the output depends on its ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="digital_1" value="Select outputs">Select outputs <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital_1" value="Enable pin">Enable pin <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital_1" value="Data inputs">Data inputs <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital_1" value="Select inputs" id="correct_2">Select inputs <span class="correct"></span></label><br/>
			<h2>Q3 In 1-to-4 demultiplexer, how many select lines are required ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="digital_2" value="5">5 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital_2" value="2" id="correct_3">2 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital_2" value="4">4 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="digital_2" value="3">3 <span class="correct"></span></label><br/>
			<input type="button" value="Submit" name="submission" class="transform_1" onclick="score()">
		</form>	
	</main>
</body>
</html>