<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Basic Quiz Application with login and logout options as well as computation of final scores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="\css\topicpage_1.css">
	<script>
		function score(){
	    var count=0;
	    if (document.getElementById('correct_1').checked) {
	    	count=count+1;
	    }
	    if (document.getElementById('correct_2').checked) {
			count=count+1;
		}
		if (document.getElementById('correct_3').checked) {
			count=count+1;
		}
		alert("Score obtained = " + count + "\nRedirecting to the home screen");
		window.location.replace('/');
		}
	</script>
</head>
<body>
	<main>
		<form>
			<h2>Q1 How many Kabaddi world cups has the indian team won ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="Kabaddi" value="3">3 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi" value="4">4 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi" value="5">5 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi" value="6" id="correct_1">6 <span class="correct"></span></label><br/>	
			<h2>Q2 Kabaddi acquired worldwide famed when it was demonstrated at which event ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="Kabaddi_1" value="1948 Olympic Games in London">1948 Olympic Games in London <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi_1" value="1932 Olympic Games in Los Angeles">1932 Olympic Games in Los Angeles <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi_1" value="1936 Olympic Games in Berlin" id="correct_2">1936 Olympic Games in Berlin <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi_1" value="1982 Asian Games in New Delhi">1982 Asian Games in New Delhi <span class="correct"></span></label><br/>
			<h2>Q3 How many nations participated in the 2014 Kabaddi World Cup championships ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="Kabaddi_2" value="11" id="correct_3">11 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi_2" value="12">12 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi_2" value="13">13 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="Kabaddi_2" value="14">14 <span class="correct"></span></label><br/>
			<input type="button" value="Submit" name="submission" class="transform_1" onclick="score()">
		</form>	
	</main>
</body>
</html>