<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Basic Quiz Application with login and logout options as well as computation of final scores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="\css\topicpage_1.css">
	<script>
		function score(){
	    var count=0;
	    if (document.getElementById('correct_1').checked) {
	    	count=count+1;
	    }
	    if (document.getElementById('correct_2').checked) {
			count=count+1;
		}
		if (document.getElementById('correct_3').checked) {
			count=count+1;
		}
		alert("Score obtained = " + count + "\nRedirecting to the home screen");
		//window.location.replace('/');
		}
	</script>
</head>
<body>
	<main>
		<form action="/statisticalmet" method="post" onsubmit="score()">
			<h2>Q1 The critical values of Z for 98% confidence interval for a two-tailed test are ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="statistical" value="+/- 1.64">+/- 1.64 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical" value="+/- 2.55">+/- 2.55 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical" value="+/- 2.33" id="correct_1">+/- 2.33 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical" value="+/- 1.96">+/- 1.96 <span class="correct"></span></label><br/>	
			<h2>Q2 What happens to the confidence interval when some outliers are introduced ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="statistical_1" value="Confidence interval is robust to outliers">Confidence interval is robust to outliers <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical_1" value="Confidence interval will increase with the introduction of outliers" id="correct_2">Confidence interval will increase with the introduction of outliers <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical_1" value="Confidence interval will decrease with the introduction of outliers">Confidence interval will decrease with the introduction of outliers <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical_1" value="We cannot determine the confidence interval in this case">We cannot determine the confidence interval in this case <span class="correct"></span></label><br/>
			<h2>Q3 What is the relationship between significance level and confidence level ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="statistical_2" value="Significance level = 1/Confidence level">Significance level = 1/Confidence level <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical_2" value="Significance level = sqrt (1 – Confidence level)">Significance level = sqrt (1 – Confidence level) <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical_2" value="Significance level = Confidence level">Significance level = Confidence level <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="statistical_2" value="Significance level = 1- Confidence level" id="correct_3">Significance level = 1- Confidence level <span class="correct"></span></label><br/>
			<input type="submit" value="Submit" name="submission" class="transform_1">
		</form>	
	</main>
</body>
</html>