<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Basic Quiz Application with login and logout options as well as computation of final scores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="\css\topicpage_1.css">
	<script>
		function score(){
	    var count=0;
	    if (document.getElementById('correct_1').checked) {
	    	count=count+1;
	    }
	    if (document.getElementById('correct_2').checked) {
			count=count+1;
		}
		if (document.getElementById('correct_3').checked) {
			count=count+1;
		}
		alert("Score obtained = " + count + "\nRedirecting to the home screen");
		window.location.replace('/');
		}
	</script>
</head>
<body>
	<main>
		<form>
			<h2>Q1 Which of the following is associated with the Young Bengal Movement ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="socialmovements" value="Derozians" id="correct_1">Derozians <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements" value="Mitra Bandhu">Mitra Bandhu <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements" value="Native marriage Act">Native marriage Act <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements" value="Bethune School">Bethune School <span class="correct"></span></label><br/>	
			<h2>Q2 Who among the following was popularly known as ‘Lokahitawadi' ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="socialmovements_1" value="Mahadev Govind Ranade">Mahadev Govind Ranade <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements_1" value="Jyotiba Phule">Jyotiba Phule <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements_1" value="Pt. Iswar Chandra Vidhyasagar">Pt. Iswar Chandra Vidhyasagar <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements_1" value="Gopal Hari Deshmukh" id="correct_2">Gopal Hari Deshmukh <span class="correct"></span></label><br/>
			<h2>Q3 Which of the following is correctly paired ?</h2>
			<aside><p>1 point</p></aside>
			<label class="transform"><input type="radio" checked="checked" name="socialmovements_2" value="Special Marriage Act -1955">Special Marriage Act -1955 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements_2" value="Hindu Succession Act- 1956" id="correct_3">Hindu Succession Act- 1956 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements_2" value="Bengal Regulation banning Sati -1830">Bengal Regulation banning Sati -1830 <span class="correct"></span></label><br/>
			<label class="transform"><input type="radio" name="socialmovements_2" value="Sarda Act- 1939">Sarda Act- 1939 <span class="correct"></span></label><br/>
			<input type="button" value="Submit" name="submission" class="transform_1" onclick="score()">
		</form>	
	</main>
</body>
</html>