<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Basic Quiz Application with login and logout options as well as computation of final scores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="\css\topicpage_1.css">
</head>
<body>
	<header>
		<a href="/score"><input type="submit" value="Score" name="submission" class="tran"></a>
		<h1>Please select an appropriate field</h1>
	</header>
	<main>
		<section>
			<table>
				<tr><th>General knowledge</th>
					<th>Sports</th>
					<th>Engineering</th>
				</tr>
				<tr>
					<td><a href="/Current_affairs" class="page_z">Current affairs about india</a></td>
					<td><a href="/Cricket" class="page_z">Cricket</a></td>
					<td><a href="/dsa" class="page_z">Data structures and algorithms</a></td>
				</tr>
				<tr>
					<td><a href="/Indian_states" class="page_z">Indian states and their capitals</a></td>
					<td><a href="/Badminton" class="page_z">Badminton</a></td>
					<td><a href="/dsm" class="page_z">Digital systems and microprocessors</a></td>
				</tr>
				<tr>
					<td><a href="/Bharat_ratna" class="page_z">Bharat ratna awardees</a></td>
					<td><a href="/Hockey" class="page_z">Hockey</a></td>
					<td><a href="/dbms" class="page_z">Database Management systems</a></td>
				</tr>
				<tr>
					<td><a href="/Social_movements" class="page_z">Social movements</a></td>
					<td><a href="/Kabaddi" class="page_z">Kabaddi</a></td>
					<td><a href="/smda" class="page_z">Statistical methods and data analysis</a></td>
				</tr>
				<tr>
					<td><a href="/Renowed_personalities" class="page_z">Renowned personalities</a></td>
					<td><a href="/Boxing" class="page_z">Boxing</a></td>
					<td><a href="/tdm" class="page_z">Techniques for decision making</a></td>
				</tr>
			</table>
		</section>
	</main>
</body>
</html>